<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/flex.css">
  <link rel="stylesheet" href="css/animation.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500i,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <title>Listory</title>
</head>
<body>

<header class="inverted hide-gt-xs layout-row layout-align-center-center">
  <img src="images/logo.png" alt="logo" />
</header>

<!-- INTRO -->
<section class="intro inverted layout-column layout-align-start-center">

  <div class="layout-gt-xs-row">
    <div class="flex-gt-xs-50"><!-- 50% --></div>
    <div id="intro-text">
      <img src="images/logo.png" alt="logo" />
      <h1>The best way to group <br />plan for events</h1>

      <div class="text">
        Whether you are planning a potluck, holiday party, or a weekend camping trip, Listory is an amazing little app that helps you organize and coordinate how everyone contributes to the event.
      </div>
    </div>
  </div>
</section>

<!-- ABC -->
<article id="parallax">
  <section class="abc layout-column layout-align-start-center">
    <div class="layout-gt-xs-row ">
      <div class="flex-gt-xs-50">
        <h1>It's easy as ABC</h1>

        <div class="layout-row">
          <div class="bullet">A</div>
          <div class="text" id="abc-1">
            Host sets up the theme and ways for the guests to contribute to the party. It’s straightforward to track items that may be missing up to the last minute before the party.
          </div>
        </div>

        <div class="layout-row">
          <div class="bullet">B</div>
          <div class="text" id="abc-2">
            Take a quick glance of what items other people are bringing with them to avoid duplications and add variety to the event!
          </div>
        </div>

        <div class="layout-row">
          <div class="bullet">C</div>
          <divc class="text" id="abc-3">
            Listory will remind you of what you’ve committed to bring as you get closer to the event date.
          </div>
        </div>
      </div>

      <div class="phone-wrap flex-50">
        <div class="phone hide show-gt-xs">
          <div class="bubble" id="bubble-1">
            A
            <div></div>
          </div>

          <div class="bubble" id="bubble-2">
            B
            <div></div>
          </div>

          <div class="bubble" id="bubble-3">
            C
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TOOLS -->
  <section class="tools layout-column layout-align-start-center">
    <div class="layout-gt-xs-row">
      <div class="flex-gt-xs-50">
        <div class="combo-wrap hide show-gt-xs">
          <div class="combo" id="combo-1"></div>
          <div class="combo" id="combo-2"></div>
          <div class="combo" id="combo-3"></div>
        </div>
      </div>
      <div class="combo-text">
        <h1>Need to get the word out? Listory's got you covered</h1>
        <div class="text">
          For larger events, Listory is the perfect compliment to your favorite party apps!
        </div>
      </div>
    </div>
  </section>

  <!-- HISTORY -->
  <section class="history inverted layout-column layout-align-start-center">
    <div class="layout-gt-xs-row">
        <div class="flex-gt-xs-50">
        <h1>Make your own history with Listory</h1>
        <div>Here are some what some of our users say about Listory.</div>

        <div class="quote">
          <img src="images/mugshot.png" alt="mugshot" />
          <div>
            <i>I used Listory to help plan my best friend’s bachelorette party with a group of 7 other girls
            ... It was simple the best app that helped us all get organized. I definitely recommend it!</i>
          </div>
          <div class="author">- Lisa J.</div>
        </div>
      </div>
    </div>
  </section>

  <div class="inverted beta layout-column layout-align-center-center">
    <div>
      <img src="images/logo.png" alt="logo" />
      <h1>We are in beta!</h1>
      <div>Listory is 100% free for all our beta users! We'd love to hear from you to know how we can make this little tool work even better. Download it and start planning your next event today!</div>
    </div>
  </div>

  <footer class="inverted layout-column layout-gt-xs-row layout-align-center-center layout-align-gt-xs-space-between-center">
    <span>© Listory, an EyeCue Lab Product, Copyright 2016</span>
    <span>
      <a href="http://www.eyecuelab.com/">Privacy Policy</a> | <a href="http://www.eyecuelab.com/#contact">Contact Us</a>
    </span>
  </footer>
</article>

<script src="js/script.js"></script>

</body>
</html>
